* {
  box-sizing: border-box;
}
body {
  background-color: #92bde7;
  color: #485e74;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6em;
  padding: 1em;
}

.container {
  max-width: 1170px;
  background-color: bisque;
  margin: auto;
  padding: 20px;
}
span {
  color: aliceblue;
}
ul {
  list-style-type: none;
}
.content {
  background-color: #f9f3ff;
  padding: 20px;
}
.content h1,
.content ul {
  text-align: left;
  margin: 0px;
}
.myform {
  background-color: #c9e6ff;
}
.myform form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  padding: 20px;
}
.myform input {
  padding: 10px 40px;
}

.full form textarea,
.myform form input {
  width: 100%;
  border: 1px solid #ce99ce;
}
.myform label {
  display: block;
}

.full input:focus,
.full textarea:focus {
  border-color: royalblue;
}
.full input[type="submit"]:hover {
  background-color: aqua;
  text-transform: uppercase;
}

.wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
